.row{
    margin-top:50px;
    margin-left:60px !important;
}
.col-md-1{
    background: #f4f4f4;
    margin-right:2px;
}
select{
    position: absolute;
    right:50%;
    top: 12%;
    width:100px;
    height:40px;
}